<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="scannerConfig" type="ScanDNSResolver.ScannerConfig, ScanDNSResolver, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <connectionStrings>
<add name="ScanInputConnection" connectionString="Data Source=219.245.186.180;Initial Catalog=imiss_dns;User ID=sa;Password=imiss@108" providerName="System.Data.SqlClient" />
  </connectionStrings>
<scannerConfig  scannerIP="219.245.186.180"  defaultGw="219.245.186.5" testDomain="botnet.xjtu.edu.cn" testDomainIp="202.117.54.210"  packetRate="201"  packetNum="3" outputDir="D:" probeNum="2"  extractNum="2"  fakePort="4001" ttl="100"  maxIteration="20"  resolverUpdate="true"  resolverInterval="10"/>

  <log4net>
    <!--Define the output to a file-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="log\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd&quot;.txt&quot;" />
      <StaticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Time:%date Level:%p  content:%message%newline" />
      </layout>
    </appender>
    <!--Define the output to the console command line-->
    <!--
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    -->
    <!--Define the log output media-->
    <root>
      <level value="ALL" />
      <!--Log file format-->
      <appender-ref ref="LogFileAppender" />
      <!--Display log-->
      <!--<appender-ref ref="ConsoleAppender" />-->
    </root>
  </log4net>
  <startup>

    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
